#G{
    color:rgb(17, 17, 255);
}
#O{
    color:red;
}
#O2{
    color:yellow;
}
#g{
    color:rgb(17, 17, 255);
}
#l{
    color:green;
}
#e{
    color:red;
}
h1{
    text-align: center;
    font-size:180px;
}