html {
    background-image: url('above-atmosphere-clouds-37728.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: monospace;
}

body {
    display: flex;
    margin: 250px 300px 50px 450px;

}


.GitHub {
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
    transform: rotate(90deg);
    box-sizing: border-box;
    justify-content: center;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 140px;
    font-size: 20px;
}

.LinkedIn {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
    box-sizing: border-box;
    justify-content: center;
    margin-right: 20px;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 140px;
    font-size: 20px;
}

.YouTube {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
    box-sizing: border-box;
    justify-content: center;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000000;
    line-height: 140px;
    font-size: 20px;
}

.GitHub:hover {
    background-color: #03a9f4;
    transform: rotate(0deg);
    color: #FFFFFF;
    transition-duration: 1s;
    font-size: 23px;
    text-shadow: 0px 1px 0px #999,
        0px 0.5px 0px #888, 0px 4px 0px #777, 0px 4px 0px #666,
        0px 5px 0px #555, 0px 6px 0px #444, 0px 5px 0px #333,
        0px 5px 9px #001135;
}

.LinkedIn:hover {
    background-color: #d32f2f;
    color: rgb(255, 255, 255);
    transform: rotate(0deg);
    font-size: 22px;
    transition-duration: 1s;
    text-shadow: 0px 1px 0px #999,
        0px 0.5px 0px #888, 0px 4px 0px #777, 0px 4px 0px #666,
        0px 5px 0px #555, 0px 6px 0px #444, 0px 5px 0px #333,
        0px 5px 9px #001135;
}

.YouTube:hover {
    transform: rotate(0deg);
    transition-duration: 1s;
    font-size: 23px;
    color: #FFFFFF;
    background-color: #03dd44;
    text-shadow: 0px 1px 0px #999,
        0px 0.5px 0px #888, 0px 4px 0px #777, 0px 4px 0px #666,
        0px 5px 0px #555, 0px 6px 0px #444, 0px 5px 0px #333,
        0px 5px 9px #001135;
}
